<template name="TasksDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> TasksDetailsDetailsTasks}}
	</div>
</template>

<template name="TasksDetailsDetailsTasks">
	<div id="tasks-details-details-tasks" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Details
		</h2>
		<form role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}				
				
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name" class="col-sm-3 control-label">
					Naam
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{task_empty.name}}
					</p>
				</div>
			</div>
			<div class="form-group  field-description">
				<label for="description" class="col-sm-3 control-label">
					Beschrijving
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{task_empty.description}}
					</p>
				</div>
			</div>
			<div class="form-group  field-people_required">
				<label for="people_required" class="col-sm-3 control-label">
					Aantal personen
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{task_empty.people_required}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div col-sm-9 col-sm-offset-3">
					<a href="#" id="form-close-button" class="btn btn-primary">
						OK
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

