<template name="Admin">
	<div class="page-container container">
		<div class="row">
			<div class="col-md-12" id="content">
				<div class="row" id="title_row">
					<div class="col-md-12">
						<div id="page_menu" class="pull-right">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="menu" class="col-sm-3 col-md-2">
				<h2>
				</h2>
				{{> AdminSideMenu}}
			</div>
			<div id="subcontent" class="col-sm-9 col-md-10">
				{{> yield region='AdminSubcontent'}}
			</div>
		</div>
	</div>
</template>

<template name="AdminSideMenu">
	<ul id="menu-items" class="nav nav-stacked nav-pills">
		<li id="menu-item-simple" class="{{menuItemClass 'admin.users'}}">
			<a href="{{pathFor 'admin.users'}}">
				<span class="item-title">
					Gebruikers
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'admin.tasks'}}">
			<a href="{{pathFor 'admin.tasks'}}">
				<span class="item-title">
					Taken
				</span>
			</a>
		</li>
	</ul>
</template>

