<template name="HomePublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Homepage
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
	</div>
</template>

