<template name="HomePrivate">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Schoonmaakrooster
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> HomePrivateView}}
	</div>
</template>

<template name="HomePrivateView">
	<div id="home-private-view" class="">
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{> currentAssignmentTable}}

			<h3>Geschiedenis</h3>

			{{> previousAssignmentTable}}
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
	</div>
</template>

<template name="currentAssignmentTable">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>
				Verantwoordelijke
			</th>
			<th>
				Taak
			</th>
			<th>
				Einddatum
			</th>
			<th>
				Afgerond
			</th>
			<th>
				Bevestigd
			</th>
		</tr>
		</thead>
		<tbody>
		{{#each assignments}}
		<tr>
			{{> assignment}}
		</tr>
		{{/each}}
		</tbody>
	</table>
</template>

<template name="previousAssignmentTable">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>
				Verantwoordelijke
			</th>
			<th>
				Taak
			</th>
			<th>
				Einddatum
			</th>
			<th>
				Afgerond
			</th>
			<th>
				Bevestigd
			</th>
		</tr>
		</thead>
		<tbody>
		{{#each assignments}}
		<tr>
			{{> assignment}}
		</tr>
		{{/each}}
		</tbody>
	</table>
</template>

<template name="assignment">
	<td>
		{{ user.profile.name }}
	</td>
	<td title="{{ task.description }}">
		{{ task.name }}
		<span class="btn btn-info btn-xs" style="text-transform: none;">i</span>
	</td>
	<td>
		{{formatDate date 'DD-MM-YYYY'}}
	</td>
	<td>
		<input type="checkbox" {{b "check: isCompleted, click: setCompleted"}} />
	</td>
	<td>
		<input type="checkbox" {{b "check: isConfirmed, click: setConfirmed"}} />
	</td>
</template>